<section id="add-to-squad-container" class="row">
    <section class="col-sm-12">
        {{#each this.players}}
        <article data-player-name="{{name}}" class="scaled player-card album-card {{color}}">
            <img class="headshot-img" src="{{headshot.medImgUrl}}" alt="{{name}}">
            <p class="position">{{position}}</p>
            <img class="club-img" src="{{club.imageUrls.normal.medium}}" alt="{{club.name}}">
            <img class="nation-img" src="{{nation.imageUrls.medium}}" alt="{{nation.name}}">

            <section class="details">
                <p class="name">{{name}}</p>
                <section class="additional-player-info">
                    <span class="text-warning" href="#">Age <span class="badge">{{age}}</span></span><br>
                    <span class="text-warning" href="#">Rating <span class="badge">{{rating}}</span></span><br>
                    <span class="text-warning" href="#">Potential <span class="badge">{{potential}}</span></span><br>
                </section>
                <a href="#/squad/add/{{id}}/{{../addPosition}}" class="btn btn-success btn-sm btn-sell-player">Add</a>
            </section>
        </article>
        {{/each}}
    </section>
</section>