<div id="squad-container">
    <div id="fb-root"></div>

    <div class="row">
        <div data-player-position="left-forward" class="col-sm-3 col-sm-offset-2 squad-player-card">
            {{#if leftforward}}
            <img class="squad-player-image" src="{{leftforward.img}}" alt="add-player">
            <span class="squad-player-name">{{leftforward.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">LF</span>
        </div>
        <div data-player-position="center-forward" class="col-sm-1 col-sm-offset-2 squad-player-card">
            {{#if centerforward}}
            <img class="squad-player-image" src="{{centerforward.img}}" alt="add-player">
            <span class="squad-player-name">{{centerforward.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">CF</span>
        </div>
        <div data-player-position="right-forward" class="col-sm-1 col-sm-offset-2 squad-player-card">
            {{#if rightforward}}
            <img class="squad-player-image" src="{{rightforward.img}}" alt="add-player">
            <span class="squad-player-name">{{rightforward.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">RF</span>
        </div>
    </div>

    <section class="row">
        <article data-player-position="left-midfielder" class="col-sm-3 col-sm-offset-3 squad-player-card">
            {{#if leftmidfielder}}
            <img class="squad-player-image" src="{{leftmidfielder.img}}" alt="add-player">
            <span class="squad-player-name">{{leftmidfielder.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">LM</span>
        </article>
        <article data-player-position="center-midfielder" class="col-sm-1 col-sm-offset-1 squad-player-card">
            {{#if centermidfielder}}
            <img class="squad-player-image" src="{{centermidfielder.img}}" alt="add-player">
            <span class="squad-player-name">{{centermidfielder.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">CM</span>
        </article>
        <article data-player-position="right-midfielder" class="col-sm-1 col-sm-offset-1 squad-player-card">
            {{#if rightmidfielder}}
            <img class="squad-player-image" src="{{rightmidfielder.img}}" alt="add-player">
            <span class="squad-player-name">{{rightmidfielder.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">RM</span>
        </article>
    </section>

    <section class="row">
        <article data-player-position="left-back" class="col-sm-3 col-sm-offset-2 squad-player-card">
            {{#if leftback}}
            <img class="squad-player-image" src="{{leftback.img}}" alt="add-player">
            <span class="squad-player-name">{{leftback.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">LB</span>
        </article>
        <article data-player-position="left-center-back" class="col-sm-1 col-sm-offset-1 squad-player-card">
            {{#if leftcenterback}}
            <img class="squad-player-image" src="{{leftcenterback.img}}" alt="add-player">
            <span class="squad-player-name">{{leftcenterback.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">CB</span>
        </article>
        <article data-player-position="right-center-back" class="col-sm-1 col-sm-offset-1 squad-player-card">
            {{#if leftcenterback}}
            <img class="squad-player-image" src="{{rightcenterback.img}}" alt="add-player">
            <span class="squad-player-name">{{rightcenterback.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">CB</span>
        </article>
        <article data-player-position="right-back" class="col-sm-1 col-sm-offset-1 squad-player-card">
            {{#if rightback}}
            <img class="squad-player-image" src="{{rightback.img}}" alt="add-player">
            <span class="squad-player-name">{{rightback.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">RB</span>
        </article>
    </section>

    <footer class="row">
        <article data-player-position="goalkeeper" class="col-sm-1 col-sm-offset-5 squad-player-card">
            {{#if goalkeeper}}
            <img class="squad-player-image" src="{{goalkeeper.img}}" alt="add-player">
            <span class="squad-player-name">{{goalkeeper.name}}</span> {{else}}
            <img class="add-to-squad-image" src="../styles/images/player-add.png" alt="add-player"> {{/if}}
            <span class="player-position">GK</span>
        </article>
    </footer>

</div>